<html><head></head><body><md-bottom-sheet class="md-grid bottomsheet--grid">
  <md-list>
    <md-list-item ng-repeat="item in items">
      <md-button class="md-grid-item-content" aria-label="{{item.name}}" ng-click="listItemClick($index)">
        <div class="md-icon-container">
          <md-icon md-svg-src="{{item.icon}}" ng-style="{&quot;color&quot;:&quot;{{item.color}}&quot;}"></md-icon>
        </div>
        <p class="md-grid-text"> {{ item.name }} </p>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet></body></html>